[include]
	path = ~/work/dotfiles/submodules/delta/catppuccin.gitconfig
[delta]
	features = catppuccin-macchiato
	navigate = true
[core]
	pager = delta
	excludesFile = ~/.config/git/ignore
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[user]
	name = Mariell Hoversholm
	email = mariell.hoversholm@grafana.com
	signingkey = /home/mariell/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[pull]
	rebase = true
[diff]
	colormoved = zebra
	algorithm = histogram
[blame]
	pager = delta
[checkout]
	workers = 0
[pack]
	writeReverseIndex = true
[commit]
	gpgsign = true
[feature]
	manyFiles = true
[lfs]
	locksverify = false
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
