[include]
	path = ~/work/dotfiles/submodules/delta/catppuccin.gitconfig
[delta]
	features = catppuccin-macchiato
	navigate = true
[core]
	pager = delta
	excludesFile = ~/.config/git/ignore
	attributesFile = /home/mariell/.config/git/attributes
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[user]
	name = Mariell Hoversholm
	email = mariell@mardroemmar.dev
	signingkey = DA28172DFAC49D1A
[init]
	defaultBranch = main
[pull]
	rebase = true
[diff]
	colormoved = zebra
	algorithm = histogram
[blame]
	pager = delta
[checkout]
	workers = 0
[pack]
	writeReverseIndex = true
[commit]
	gpgsign = true
[feature]
	manyFiles = true
[lfs]
	locksverify = false
[push]
	autoSetupRemote = true
	gpgSign = if-asked
[tag]
	gpgSign = true
