[Unit]
Description=Run ClamAV virus scan
Wants=clamav-freshclam-once
After=clamav-freshclam-once

[Service]
Type=oneshot
ExecStart=/usr/bin/clamdscan --multiscan --fdpass --infected --allmatch /home /var/lib /tmp /etc /var/tmp

[Install]
WantedBy=multi-user.target
